@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-light-1 text-dark-1 min-h-screen font-poppins;
  }

  ::-webkit-scrollbar {
    width: 0;
    /* background-color: transparent; */
  }

  /* ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #eee;
  } */
}


.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #ddd;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical, ::-webkit-scrollbar {
  width: 5px;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
  width: 100%;
}

code {
  border-radius: 5px;
  border-width: 1px;
  font-family: monospace;
  font-size: 1.05em;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: #D9D9D9;
}

.example-card pre {
  background-color: #D9D9D9;
  border-radius: 0.5rem;
  font-size: 0.98rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.example-card pre strong {
  font-size: 1rem;
}

.cm-scroller {
  background-color: #282828 !important;
}
.cm-focused {
  outline: none !important;
}

li {
  list-style-type: disc;
}
select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    @apply block w-full mb-2 rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-100;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
    @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
label{
    @apply text-gray-500 text-sm leading-tight;
}
label + input{
    margin-top: -2px;
}
button, .button{
    @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
    @apply border border-gray-300 rounded-xl px-6 py-2;
}
/* button[type="submit"], .submit, button.primary{
    @apply border-primary bg-primary text-white;
}
button[type="submit"]:disabled, .submit:disabled{
    @apply cursor-not-allowed bg-red-400;
} */
